

<!-- menu: Ajuda 

<button mat-button matTooltip="Ajuda do Site" matTooltipPosition="below" [mat-menu-trigger-for]="ajudaMenu">-->
<button mat-button matTooltip="Ajuda do Site" matTooltipPosition="below" >
    <span hide-xs hide-gt-xs show-gt-sm>AJUDA</span>
    <mat-icon>help_outline</mat-icon>
</button>

<!--<mat-menu xPosition="after" yPosition="below" #ajudaMenu="matMenu" [overlapTrigger]="false">
     <button mat-menu-item>
        <mat-icon>menu</mat-icon>
        <span>Acessibilidade</span>
    </button> 
    <button mat-menu-item>
        <mat-icon>menu</mat-icon>
        <span>Alto Contraste</span>
    </button>

    <button mat-menu-item>
        <mat-icon>menu</mat-icon>
        <span>Contato</span>
    </button>
</mat-menu>-->
