/* You can add global styles to this file, and also import other style files */
td-steps .td-steps-header {
    -webkit-box-shadow: none !important;
            box-shadow: none !important; 
}

.td-horizontal-line {
    left: 0px !important;
}
